DATABASE_URL=mysql+pymysql://root:password@localhost:3306/yilu_an
REDIS_URL=redis://localhost:6379
AMAP_API_KEY=your_amap_key
TENCENT_MAP_API_KEY=your_tencent_map_key

JWT_SECRET_KEY=your_jwt_secret
HOST=0.0.0.0
PORT=8000
TEMP_DIR=temp

# modelscope 模型
MODELSCOPE_API_KEY=your_modelscope_model_api_key
MODELSCOPE_BASE_URL=https://api-inference.modelscope.cn/v1
MODELSCOPE_TEXT_MODEL=deepseek-ai/DeepSeek-V3.2

# dashscope 配置
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_TEXT_MODEL=qwen3.6-plus
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_TTS_MODEL=cosyvoice-v2
DASHSCOPE_TTS_VOICE=longxiaochun
DASHSCOPE_ASR_MODEL=Qwen3-ASR-Flash

# 微信小程序配置
WECHAT_APPID=your_wechat_appid
WECHAT_APPSECRET=your_wechat_appsecret
WECHAT_API_URL=https://api.weixin.qq.com/sns/jscode2session